nav {
    height: 3.5rem;
    display: flex;
     background-color:  rgba(20, 31, 43, 0.329);
    justify-content: space-around;
    align-items: center;
    
}

ul {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 4rem;
    align-items: center;
    
}

li {
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: center;
    width: 5rem;
  
   
}

li:hover {
    border-bottom: 3px solid rgba(117, 115, 120, 0.772);
}

nav h2{
    flex-direction: row
}
