body {
    background-image: url("https://res.cloudinary.com/dizqkjgk3/image/upload/b_rgb:3c2210,co_rgb:5e5b5b,dn_201,o_58/v1697798492/Backgrounds/photo-1564934304050-e9bb87a29c13_dvumwq.avif");
    background-size: cover; /* La imagen se ajusta para cubrir el área completa */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; 

    
}


.movies-container {
    display: block;
    justify-content: center;
    align-items: center;
    height: 80%;
    overflow: hidden;
}

.genre-galery {
    display: flex;
    flex-direction: column;
    position:relative;
    overflow-x: auto;
    width: 98%;
    height: 20rem;
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow: hidden;
}



.genre-container {
    display: flex;
    flex-direction: row;
    align-items:center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    flex-wrap: nowrap; /* Evita el salto de línea */
    width: 98%;
    height: 90%;
    margin-left: 1.5rem;
    background-color: rgba(250, 251, 251, 0.18); 
    border-radius: 30px
}

.search-movie{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    margin: 2rem 2rem 2rem 0;
}

#search-input{
    margin-left: 2rem;
    width: 15rem;
    height: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    font-size: 1rem;
    width: 4.5rem;
    height: 1.7rem;
    margin-left: .5rem;
}


.genre-title{
    display: flex;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 1.3rem;
}

.carousel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width:none;/* Oculta la barra de desplazamiento */
    -ms-overflow-style: none; /* Oculta la barra de desplazamiento en IE/Edge */
    -ms-overflow-style: none;
    transition: scroll-behavior 0.20s ease-in-out;
    gap: 0.5rem;
    margin-left: 3rem;
    height: 110%;
    width: 92%;
    
}
.carousel-button {
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-content: center;
    background: rgba(255, 255, 255, 0);
    border: none;
    padding: 5px;
    position: absolute;
    z-index: 999;
    height: 2rem;
    width: 2rem;
    background-attachment: contain;
	background-size: cover;
    opacity: .5;
}

.prev-button {
    left: 10px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/271/271228.png");
    transform: rotate(-180deg);
    margin-top: -1.4rem; 
}

.next-button {
    right: 10px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/271/271228.png");  
}

.carousel-button:hover{
    opacity: 1 ;
}

.carousel-button:active{
    height: 2.3rem;
}

.movie-card {
    position:relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    height: 85%;
    
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
    display: flex
}

@media (max-width: 1209px) {
    .carousel {
        max-width: 100%; /* Ajusta el ancho automáticamente */
        gap: 0.5rem; /* Espaciado más estrecho */
        margin-right: 3rem; /* Sin margen izquierdo */
    }
   
   
}
@media (max-width: 879px) {
    nav{
        height: 3rem;
    }
    .genre-galery{
        height: 15rem;
    }
    .movies-container {
        width: 100%; /* Ocupa el 100% del ancho del contenedor padre */
     /* Establece un ancho máximo para evitar que se vuelva demasiado ancho en pantallas grandes */
        margin: 0 auto;
        height: auto;
        margin-left: -1.5rem; /* Ajusta la altura automáticamente */
    }

    .genre-container {
        height: auto; /* Ajusta la altura automáticamente */
    
    }
   
    .carousel-button{
        height: 1.5rem;
    width: 1.5rem;
    }
    .movie-card {
        width: 8.5rem; /* Ancho completo en pantallas pequeñas */
    }
}

.movie-card:hover {
    box-shadow: inset 0 0 0 2px #f8f4f4;
    border-radius: 15px;
    background-color: rgba(211, 207, 207, 0.352);
}

.movie-card.active {
    display: block;
}