body {
    background: url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-repeat: no-repeat;
    background-size:cover;
    
}

.movies-container {
    display: block;
    justify-content: center;
    align-items: center;
    height: 80%;
    overflow: hidden;
    margin-top: 2rem;
}

.genre-galery {
    display: flex;
    flex-direction: column;
    position:relative;
    overflow-x: auto;
    height: 50vh;
    width: 95%;
    margin-top: 4rem;
    margin-left: 1rem;
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow: hidden;
}



.genre-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    flex-wrap: nowrap; /* Evita el salto de línea */
     /* Agrega una barra de desplazamiento horizontal si es necesario */
     width: 98%;
     height: 40vh;
     margin-left: 1.5rem;
     background-color: rgba(2, 26, 19, 0.18); 
     border-radius: 30px;
      
}
.genre-title{
    display: flex;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 1.3rem;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width:none;/* Oculta la barra de desplazamiento */
    -ms-overflow-style: none; /* Oculta la barra de desplazamiento en IE/Edge */
    -ms-overflow-style: none;
    transition: scroll-behavior 0.20s ease-in-out;
    height: 50vh;
    max-width: 93%;
    gap: .5rem;
    margin-left: 3.8rem;
    margin-bottom: 3rem;
    
}
.carousel-button {
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-content: center;
    background: rgba(255, 255, 255, 0);
    border: none;
    padding: 5px;
    position: absolute;
    z-index: 999;
    height: 2rem;
    width: 2rem;
    background-attachment: contain;
	background-size: cover;
    opacity: .5;
    
}

.prev-button {
    left: 10px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/271/271228.png");
    transform: rotate(-180deg);
    margin-top: -1.4rem;
    
}

.next-button {
    right: 10px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/271/271228.png");
    
    
}

.carousel-button:hover{
    opacity: 1 ;
}

.carousel-button:active{
    height: 2.3rem;
}

.movie-card {
    position:relative;
    display: flex;
    justify-content:flex-start;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: .5rem;
    margin-left: 0.2rem;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
   width: 14rem;
   height: 20rem;
    cursor: pointer;
    text-decoration: none;
    transition:  0.3s ease;

}

.movie-card:hover {
    box-shadow: inset 0 0 0 2px #f8f4f4;
    border-radius: 15px;
    background-color: rgba(211, 207, 207, 0.352);
}

.movie-card.active {
    display: block;
}